@model CHPOUTSRCMES.Web.ViewModels.ErrorViewModel
@{
    ViewBag.Title = "發生錯誤";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script src="~/Scripts/Errors/General.js"></script>
}
<div class="row row-std center">
    <div class="col col-md-8 col-md-offset-2">
        <div class="box box-danger" style="min-height:500px;">
            <div class="box-header with-border">
                <h1 class="fa fa-caret-right"><i></i>@Html.LabelFor(model => model.Error.Message)</h1>
            </div>
            <div class="box-body">
                <div class="col col-md-12 text-center text-align-center">
                    @Html.DisplayTextFor(model => model.Error.Message)
                </div>
                <div class="col col-md-12 text-center text-align-center">
                    @Html.DisplayTextFor(model => model.Error.Code)
                </div>
                <div class="col col-md-12 text-center text-align-center">
                    @Html.DisplayTextFor(model => model.Error.StackTrace)
                </div>
            </div>
        </div>
    </div>
</div>




