CREATE FUNCTION CheckOspLabelSpec (@SPECIFICATION NVARCHAR(40))
RETURNS NVARCHAR(40) 
AS
BEGIN  
DECLARE @SPEC NVARCHAR(40)
SET @SPEC = @SPECIFICATION
    RETURN
	CASE WHEN  Len(@SPEC) = 7 THEN '0'+@SPEC ELSE @SPEC END
END
GO
