CREATE FUNCTION OspCutMaterial (@OSP_HEADER_ID BIGINT)
RETURNS TABLE
AS
RETURN
(
SELECT 
OH.CUTTING_DATE_TO,
ODI.INVENTORY_ITEM_NUMBER,
ODI.PAPER_TYPE,
ODI.BASIC_WEIGHT,
ODI.SPECIFICATION,
BATCH_NO,
DUE_DATE,
ROW_NUMBER() OVER(ORDER BY (SELECT 1)) AS SubId,
GETDATE()　as PrintDate
FROM [OSP_HEADER_T] OH
join OSP_DETAIL_IN_T ODI ON ODI.OSP_HEADER_ID = OH.OSP_HEADER_ID
--join STOCK_T st on st.INVENTORY_ITEM_ID = ODI.INVENTORY_ITEM_ID
where OH.OSP_HEADER_ID = @OSP_HEADER_ID
);
GO