CREATE FUNCTION PurchaseHeadaer (@CTR_HEADER_ID BIGINT)
RETURNS TABLE
AS
RETURN
(
	SELECT 
	CONTAINER_NO,
	MV_CONTAINER_DATE,
	P.PAPER_TYPE
	FROM CTR_HEADER_T H 
	JOIN CTR_PICKED_T P ON P.CTR_HEADER_ID = H.CTR_HEADER_ID
	where H.CTR_HEADER_ID = @CTR_HEADER_ID
	GROUP BY P.PAPER_TYPE,MV_CONTAINER_DATE,CONTAINER_NO
);
