CREATE FUNCTION PurchaseDetail (@CTR_HEADER_ID BIGINT,@ITEM_CATEGORY nvarchar(MAX))
RETURNS TABLE
AS
RETURN
(
	SELECT 
	ROW_NUMBER() OVER(ORDER BY p.CTR_DETAIL_ID ) AS SubId,
	P.ITEM_CATEGORY,
	P.PAPER_TYPE,
	P.BASIC_WEIGHT,
	P.SPECIFICATION,
	P.LOT_NUMBER,
	P.PRIMARY_QUANTITY,
	P.PACKING_TYPE,
	P.REAM_WEIGHT,
	P.BARCODE
	FROM CTR_PICKED_T P
	JOIN CTR_HEADER_T H ON H.CTR_HEADER_ID = P.CTR_HEADER_ID
	JOIN CTR_DETAIL_T D ON D.CTR_DETAIL_ID = P.CTR_DETAIL_ID
	WHERE H.CTR_HEADER_ID = @CTR_HEADER_ID
	and p.ITEM_CATEGORY = @ITEM_CATEGORY
);
