CREATE FUNCTION [dbo].[OspCutCotangentStock] (@OSP_HEADER_ID nvarchar)
RETURNS TABLE
AS
RETURN
(
SELECT
PAPER_TYPE,
BASIC_WEIGHT,
SPECIFICATION,
SECONDARY_QUANTITY,
ROW_NUMBER() OVER(ORDER BY OSP_HEADER_ID ) AS SubId,
(SELECT count(SECONDARY_QUANTITY) FROM OSP_COTANGENT_T) as Count,
(SELECT SUM(SECONDARY_QUANTITY) FROM OSP_COTANGENT_T) as Summ
FROM OSP_COTANGENT_T
WHERE OSP_HEADER_ID =@OSP_HEADER_ID
);
