CREATE FUNCTION OspRemainQty (@OSP_HEADER_ID BIGINT)
RETURNS TABLE
AS
RETURN
(
SELECT 
H.BATCH_NO,
H.CUTTING_DATE_TO,
OPI.PAPER_TYPE,
OPI.BASIC_WEIGHT,
OPI.SPECIFICATION,
OPI.REMAINING_QUANTITY,
DO.PACKING_TYPE,
ROW_NUMBER() OVER(ORDER BY OPI.OSP_HEADER_ID ) AS SubId,
OPI.LOT_NUMBER
FROM OSP_PICKED_IN_T OPI
JOIN OSP_HEADER_T H ON H.OSP_HEADER_ID = OPI.OSP_HEADER_ID
JOIN OSP_DETAIL_IN_T DO ON DO.OSP_HEADER_ID = H.OSP_HEADER_ID
WHERE OPI.OSP_HEADER_ID = @OSP_HEADER_ID
AND OPI.HAS_REMAINT = '有'
);
