<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
	</configSections>
	<connectionStrings>
		<add name="MesBiotechContext" connectionString="Data Source=192.168.0.1;Initial Catalog=CHPOUTSRCMES;Integrated Security=False;User Id=sa;Password=B10TECH@; App=EntityFramework" providerName="System.Data.SqlClient" />
		<add name="MesTestContext" connectionString="Data Source=YFYMESNX\SQLEXPRESS;Initial Catalog=CHPOUTSRCMES;Integrated Security=False;User Id=MesUser;Password=MesUser; App=EntityFramework" providerName="System.Data.SqlClient" />
		<add name="MesContext" connectionString="Data Source=10.25.25.91;Initial Catalog=CHPOUTSRCMES;Integrated Security=False;User Id=MesUser;Password=MesUser@Prd123; App=EntityFramework" providerName="System.Data.SqlClient"/>
		<add name="OracleBiotechContext" connectionString="DATA SOURCE=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.0.9)(PORT=1521)))(CONNECT_DATA=(SID = XE)));PERSIST SECURITY INFO=True;USER ID=TPMC_ADMIN;PASSWORD=TPMC_ADMIN;"
			providerName="Oracle.ManagedDataAccess.Client" />
		<add name="OracleTestContext" connectionString="DATA SOURCE=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = erpvuat2db.yfy.corp)(PORT = 1521))(CONNECT_DATA = (SERVICE_NAME = VUAT2)) );PERSIST SECURITY INFO=True;USER ID=xxosp;PASSWORD=xxosp;"  
			providerName="Oracle.ManagedDataAccess.Client" />
		<add name="ErpContext" connectionString="DATA SOURCE=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = erpexacc-db-scan.yfy.corp)(PORT = 1521))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = ERPDB) ));PERSIST SECURITY INFO=True;USER ID=xxosp;PASSWORD=xxosp;" providerName="Oracle.ManagedDataAccess.Client"/>
	</connectionStrings>
	<appSettings>
		<add key="CtrTaskEnabled" value="1" />
		<add key="CtrTaskInterval" value="3" />
		<add key="DlvTaskEnabled" value="1" />
		<add key="DlvTaskInterval" value="3" />
		<add key="OspTaskEnabled" value="1" />
		<add key="OspTaskInterval" value="3" />
		<add key="TrfTaskEnabled" value="1" />
		<add key="TrfTaskInterval" value="3" />
		<add key="MasterTaskEnabled" value="1" />
		<add key="MasterTaskInterval" value="8" />
	</appSettings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
	</startup>
	<system.data>
		<DbProviderFactories>
			<remove invariant="Oracle.ManagedDataAccess.Client"/>
			<add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
		</DbProviderFactories>
	</system.data>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<publisherPolicy apply="no"/>
				<assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
				<bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.19.1"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<oracle.manageddataaccess.client>
		<version number="*">
			<dataSources>
				<dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
			</dataSources>
		</version>
	</oracle.manageddataaccess.client>
</configuration>
