div.DTE_Inline input
{
	border: none;
	background-color: transparent;
	padding: 0 !important;
	font-size: 90%;
}

	div.DTE_Inline input:focus
	{
		outline: none;
		background-color: transparent;
	}


.MyTabs
{
	font-size: 18px;
}


.table.dataTable tr th.select-checkbox.selected::after
{
	margin-top: -11px;
	margin-left: -4px;
	text-align: center;
}

.dataTables_wrapper {
	width: 800px !important;
	margin: 0 auto !important;
	width: 100% !important;
}
th, td {
	white-space: nowrap !important;
}
/*紙捲表頭顯示scrollX*/
.dataTables_scrollHead {
	width: 100% !important;
}
.dataTables_scrollHeadInner {
	width: 100% !important;
}
.dataTables_scrollBody {
	width: 100% !important;
}
/*紙捲表頭顯示scrollX*/

div.dataTables_wrapper {
	width: 1000px;
	margin: 0 auto;
}