
@using ReportViewerForMvc;

<div>
    @if (ViewBag.ReportViewer != null && ViewBag.Style != null)
    {
        @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer, ViewBag.Style as Object)
    }
</div>
