/*.saveBtn {
    background-color: dodgerblue;
    color: white;
    text-align: center;
    border: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    float: right;
}*/

.externalBtn {
    font-size: 18px;
}


.insideBtn {
    font-size: 14px;
}

.commonBtn {
    font-size: 16px;
}

.row-std {
    margin-bottom: 10px;
}


.row-mtd {
    margin-bottom: 20px;
}


.text-align-center {
    text-align: center;
}

.customBody {
    font-family: Arial,'\u9ed1\u9ad4\u002d\u7e41','\u5fae\u8edf\u6b63\u9ed1\u9ad4', sans-serif;
    font-size: medium;
/*    white-space: nowrap !important;*/
}

.dataTable tbody tr:hover {
    background-color: #93f9cb;
}

.dataTable tbody tr:hover > .sorting_1 {
        background-color: #93f9cb;
}

table.table-bordered {
    border: 1px solid #dbdbdb;
}

    table.table-bordered > thead > tr > th {
        border: 1px solid #dbdbdb;
    }

    table.table-bordered > tbody > tr > td {
        border: 1px solid #dbdbdb;
    }

.customDropDownList {
    border: 1px solid #dbdbdb;
    height: 30px;
}

.customTextBox {
    border: 1px solid #dbdbdb;
    height: 30px;
}

.width-s {
    width: 200px;
}

.margin-left-s {
    margin-left: 50px;
}

.margin-left-ms {
    margin-left: 20px;
}

.noborder td, .noborder th {
    border: none !important;
}
