@model CHPOUTSRCMES.Web.ViewModels.ReasonViewModel
@{
    ViewBag.Title = "貨故原因";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script src="~/Scripts/Reason.js"></script>
}



<div class="box box-success customBody">
    <div class="box-header">
    </div>

    <div class="box-body">
        <div class="col-md-12">
            <table class="table table-bordered table-striped dataTable" id="ReasonTable">
                <thead>
                    <tr>
                        <th>

                        </th>
                        <th>
                            @Html.DisplayName("代碼")
                        </th>
                        <th>
                            @Html.DisplayName("原因")
                        </th>
                        <th>
                            @Html.DisplayName("建立人員ID")
                        </th>
                        <th>
                            @Html.DisplayName("建立日期")
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>