@model CHPOUTSRCMES.Web.ViewModels.HomeViewModel
<div class="row">
    <div class="col-lg-4 col-xs-12">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>@Model.CtrPendingCount.ToString()</h3>

                <p>進貨</p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
            <a href="detail.html" class="small-box-footer">檢視明細 <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-4 col-xs-12">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3>@Model.OspPendingCount.ToString()</h3>

                <p>加工／施工中</p>
            </div>
            <div class="icon">
                <i class="ion ion-android-bulb"></i>
            </div>
            <a href="#" class="small-box-footer">檢視明細 <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-4 col-xs-12">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>@Model.DlvPendingCount.ToString()</h3>

                <p>出貨</p>
            </div>
            <div class="icon">
                <i class="ion ion-android-boat"></i>
            </div>
            <a href="#" class="small-box-footer">檢視明細 <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
</div>
