
@{
    ViewBag.Title = "測試資料";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {

    <script src="~/Scripts/Home/TestData.js"></script>

}


<div class="row row-std">
    <div class="form-inline">
        <H4>還原測試資料到初始狀態(尚未進貨、出貨)</H4>
         <div class="btn-group col col-md-2 input-lg">
            <button id="btnRecoverTestData" class="btn btn-danger externalBtn">測試資料還原</button>
        </div>
    </div>
</div>
